// ex. variáveis $width: 5em;

@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans:400,700,800');

// Fontes 
$fonte-titulos: 'Lilita One', cursive;
$fonte-sub-titulos: 'Open Sans', sans-serif;
// Regular 400, Bold 700, extra bold 800


// Cores do site 
$color-white:#ffffff;
$color-red: #f65151;
$color-black: #333333;
$color-gray: #767676;



