.header {
      // width: $width-da-tela;
      background-image: url("../img/jessika-home.jpeg");
      background-size: cover;
      height: 600px;
      background-repeat: no-repeat, repeat;
      // filter: brightness(30%);
      // position: relative;

      nav {
        width: $width-da-tela;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
          width: 260px;
          // position: absolute;
        }
  
          .header__nav {
            display: flex;

          .header__nav__item {
            margin-left: 20px;
          }
        }
      }

      .call-to-action {
        width: $width-da-tela;
        margin-top: 300px;
      }




  }