.header {
      background-image: url("../img/jessika-home.jpeg");
      background-size: cover;
      height: 700px;
      background-repeat: no-repeat, repeat;
      position: relative;
      width: 100vw;

      .plano-de-fundo {
        background-color: rgba(0, 0, 0, 0.802);
        height: inherit;
      }

      nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 150px;

        .header__logo {
          width: 150px;
        }
  
          .header__nav {
            display: flex;

          .header__nav__item {
            margin-left: 20px;
            font-weight: 800;

            & a {
              font-family: 'Open Sans', sans-serif;
              color: #ffffff;
              text-transform: uppercase;
            }
          }
        }
      }

      .call-to-action {
        width: 50%;
        position: absolute;
        top: 250px;
        left: 150px;

        .buttons {
          
          .button {
            @include button
          }
        }
      }




  }